.App-unauth-container {
  height: 100vh;
  width: 100%;
  min-height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App-unauth {
    width: 25%;
    background-color: white;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}