.create-series-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

/* Everything but the navbar */
.create-bottom-container {
    flex-grow: 1;
    display: flex;  
}

.create-form {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.create-series-name-input {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* First input */
.create-series-name-form-control {
    width: 50%;
}

/* Middle section */
.create-series-genre-input {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-series-table-container {
    height: 100%;
    width: 20%;
    overflow-y: auto;
    overflow-x: auto;
}

.create-series-genre-table {
    /*border: 1px solid black;*/
    width: 20%;
}

.create-series-genre-right {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.create-series-bottom {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}