.footer-container {
    min-height: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.footer-paragraph {
    margin-bottom: 0;
}

.footer-paragraph a:hover {
    color: #1d8eff;
    text-decoration: underline !important;
}