.home-main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content-container {
    width: 90%;
    justify-content: center;
    align-items: center;
}

.comic {
    height: 170px !important;
    width: 170px !important;
    padding-left: 20px;
    padding-right: 20px;
    object-fit: contain !important;
}