.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 50px;
}
body{
    background-image: url("../images/background.png");
}