nav > div > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

nav {
    min-height: 10vh;
    padding : 10px;
    background-color: white;
}

.navbar-search-form {
    flex-grow: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-search-input {
    flex-grow: 1;
}