.upload-comic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Everything except the navbar */
.upload-bottom-container {
    width: 90%;
    background: rgba(245, 245, 245, 0.8);
    padding-top: 25px;
    padding-bottom: 25px;
}

.upload-form {
    flex-grow: 1;
}

/* Where the user does the uploading */
.upload-container {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-info {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-name-input {
    width: 50%;
}

.upload-dropdown {
    width: 50%;
}

/* Make the dropdown fill the space */
.upload-dropdown > button + div {
    width: 100%;
}

/* Upload Sharing */
.upload-sharing {
    height: 40%;
    display: flex;
    justify-content: center;
}

.upload-sharing-inner {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-table-container {
    height: 100%;
    width: 35%;
    overflow-y: auto;
    overflow-x: auto;
}

.upload-sharing-table {
    height: 100%;
    width: 35%;
}

.upload-sharing-right {
    width: 60%;
}

/* Bottom */
.upload-submit {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}