.view-comics-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.view-comics-top {
    text-align: center;
}

.view-comics-bottom {
    /*flex-grow: 1;*/
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.view-comics-card {
    width: 18rem;
    margin-bottom: 5vh;
}

.card-img-top {
    object-fit: cover;
}