.view-series-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-series-top {
    text-align: center;
}

.view-series-bottom {
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    background: rgba(245, 245, 245, 0.8);
    padding-top: 25px;
}

.view-series-card {
    max-height: 40vh;
    width: 18rem;
    margin-bottom: 5vh;
}

.view-series-card-title:hover {
    cursor: pointer;
}

.dashboard-h1 {
    color: white;
}