.view-series-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.view-series-top {
    text-align: center;
}

.view-series-bottom {
    /*flex-grow: 1;*/
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.view-series-card {
    width: 18rem;
    margin-bottom: 5vh;
}
