.view-comics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-comics-top {
    text-align: center;
}

.view-comics-bottom {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    background: rgba(255, 255, 255, 0.5);
}

.view-comics-card {
    width: 18rem;
    margin-bottom: 5vh;
}

.card-img-top {
    object-fit: cover;
}

.card {
    margin: 10px;
}