.welcome {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10%;
    min-height: 400px;
}
body {
    /*background-image: url("../images/background.png");*/
    /*background-image: url("../images/bg.jpg");*/
    background-color : rgb(61, 78, 93) !important;
}

.paddedFormControl {
    text-align: center;
}

.nav {
    min-width: 350px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none !important;
}

/* 
Change tabs. but it will change the nav bar.

a {
    color: #1d8eff !important;
}
  
.nav-link:not(.active):hover {
    background: #1d8eff !important;
    color: #F2F2F2 !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #FF69b4 !important;
} */

button {
    border: 2px solid #1d8eff;
    background-color: #69B4FF;
    color: #F2F2F2;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 0.5s;
}
button:hover {
  background-color: #F2F2F2;
  color: #69B4FF;
}
button:after {
  content: ' \00bb';
  opacity: 0;
  transition: 0.5s;
}
button:hover:after {
  opacity: 1;
  right: 0;
}