body {
  min-height: 100%;
  min-width: 400px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* 
Pink	#FF69b4
Purple	#B469FF
Blue	#69B4FF
Green	#B4FF69 
*/


/* For the bubbles */
.textbox {
  border:none !important;
  background-color:transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.bubbletext {
  position: relative;
  display:inline-block;
  padding: 5px;
  /* background: #FFFFFF; */
  border: #69B4FF solid 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 18px;
}

.bubbletext:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 60%;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.bubbletext:before {
  content: "";
  position: absolute;
  bottom: -19.5px;
  left: calc(60% - 3px) ;
  border-style: solid;
  border-width: 18px 18px 0;
  border-color: #69B4FF
  transparent;
  display: block;
  width: 0;
  z-index: 0;
}